.introduction {
    padding-top: 20%;
    padding-bottom: 20%;
    background-image: url(../img/background1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
}
.details h2{
    text-align: center;
}
.services {
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: url(../img/background2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
}
.design {
    display: none;
}
.development {
    display: none;
}
.product {
    display: none;
}
h4 {
    text-align: center;
}
h5 {
    text-align: center;
}
h6 {
    text-align: center;
}
#contact {
    padding-bottom: 20%;
    text-align: center;
    background-image: url(../img/background3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#contact-info form {
    padding-bottom: 40%;
}
.images {
    text-align: center;
}
.information {
    text-align: center;
}
.your-message {
    padding-left: 30%;
}
.social-icons {
    text-align: center;
}
.floatcaption {
    padding-bottom: 30%;
    cursor: pointer;
}
.floatcaption .caption {
    display: none;
    background: white;
    color: black;
    padding: 15%;
    opacity: 0.6;
    width: 250px;
    position: absolute;
    bottom: 20%;
}
h6 {
    cursor: pointer;
    overflow: hidden;
}