.introduction {
    background-image: url(../img/background1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
}
.details h2{
    text-align: center;
}
.services {
    background-image: url(../img/background2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: aliceblue;
    text-align: center;
}
.design {
    display: none;
}
.development {
    display: none;
}
.product {
    display: none;
}
h4 {
    text-align: center;
}
h5 {
    text-align: center;
}
h6 {
    text-align: center;
}